body{
  background-image: url("wood.png");
}

h1{
    font-family: condor, sans-serif;
    font-size: 100px;
    position: fixed;
    top: 5%;
    left: 47.5%;
    color: white;
    text-shadow: -3px 0 black, 0 3px black, 3px 0 black, 0 -3px black;
}


.arrow{
  width: 60px;
  height: 120px;
  position: fixed;
  background-color: transparent;
  border: none;
  left: 0%;
}

.notebook{
  width: 150px;
  height: 150px;
  position: fixed;
  background-color: transparent;
  border: none;
  left: 90%;
  top: 85%;
}

.ceiba{
  position: absolute;
  top: 0%;
  left: 22.5%;
  width: 500px;
  height: auto;
}

.oil{
  position: absolute;
  top: 0%;
  left: 68%;
  width: 500px;
  height: auto;
}

.helCol{
  position: absolute;
  top: 45%;
  left: 0%;
  width: 500px;
  height: auto;
}

.witt{
  position: absolute;
  top: 45%;
  left: 45.5%;
  width: 500px;
  height: auto;
}
